/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans', sans-serif;
}

/* css HEADER */

.flex{
    display: flex;
}

nav.flex{
    height: 50px;
    background-color: aqua;
    justify-content: space-between;
}

/* togliere la larghezza quando si mettono i contenuti */
section.nav-section{
    width: 250px;
    background-color: lime;
}

section.nav-section ul{
    list-style-type: none;
}

/* css MAIN */

section.title{
    background-color: #b4d0e7;
    height: 500px;
}

section.title h1{
    text-align: center;
}

div.container{
    margin: 0 auto;
    width: 75%;
    justify-content: center;
}

div.container div.side-bar{
    background-color: red;
    height: 250px;
    width: 180px;
}

div.container div.img{
    background-color: yellow;
    height: 250px;
    width: 180px;
}

section.business-plan{
    width: 65%;
    margin: 0 auto;
}

div.business-container{
    background-color: yellow;
    justify-content: center;
}

div.cards{
    width: calc(100% / 3);
    height: 700px;
    background-color: magenta;
}