/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans', sans-serif;
}

/* css HEADER */

.flex{
    display: flex;
}

.button{
    border: none;
}

.blue-button{
    background-color: #0061ff;
    color: #d6e5ff;
}

nav.flex{
    height: 50px;
    justify-content: space-between;
}

section.nav-section ul{
    list-style-type: none;
}

section.section-right ul{
    padding-top: 1rem;
}

section.section-right ul>li:nth-child(3){
    padding-right: .5rem;
}

section.nav-section ul>li{
    display: inline;
    padding-right: 1rem;
}

section.nav-section li>img{
    vertical-align: bottom;
    padding-top: .75rem;
}

section.nav-section li>a{
    color: #979797;
    text-decoration: none;
    font-size: .7rem;
}

button#start-button{
    padding: .25rem .5rem;
    font-size: .7rem;
}


/* css MAIN */

.section-position{
    width: 65%;
    margin: 0 auto;
    margin-top: 30px;
}

.container{
    margin: 0 auto;
    width: 75%;
    justify-content: center;
}

section.title{
    background-color: #b4d0e7;
    height: 500px;
}

section.title h1{
    text-align: center;
}

div.container div.side-bar{
    background-color: red;
    height: 250px;
    width: 180px;
}

div.container div.img{
    background-color: yellow;
    height: 250px;
    width: 180px;
}

div.business-container{
    background-color: yellow;
    justify-content: center;
}

div.cards{
    width: calc(100% / 3);
    height: 700px;
    background-color: magenta;
}

div.enterprise{
    height: 150px;
    background-color: red;
    margin-top: 5px;
}

section.dropbox-partner{
    justify-content: center;
}

section.dropbox-partner div.img{
    height: 200px;
    width: 70%;
    background-color: cyan;
}

section.dropbox-partner article{
    height: 200px;
    width: 30%;
    background-color: lime;
}

div.cells-container{
    height: 500px;
    background-color: blue;
    justify-content: center;
    flex-wrap: wrap;
}

div.cells-container article.cell{
    height: 250px;
    width: calc(100% / 3);
    background-color: magenta;
    border: 1px solid black;
}

section.team-members{
    height: 500px;
}

section.team-members div.left,
section.team-members div.right{
    width: 30%;
    background-color: yellow;
    justify-content: center;
    flex-wrap: wrap;
}

section.team-members div.middle{
    width: 40%;
    background-color: blue;
}

div.member{
    background-color: magenta;
    border: 1px solid black;
    height: 200px;
    width: 200px;
}

section.free-trial{
    background-color: #b4d0e7;
    height: 200px;
}

section.free-trial div.trial-container{
    background-color: yellow;
    height: 100%;
}

/* css FOOTER */

footer{
    background-color: black;
    color: white;
    height: 500px;
    margin-top: 20px;
}

