/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans', sans-serif;
}

/* css HEADER */

.flex{
    display: flex;
}

nav.flex{
    height: 50px;
    background-color: aqua;
    justify-content: space-between;
}

/* togliere la larghezza quando si mettono i contenuti */
section.nav-section{
    width: 250px;
    background-color: lime;
}

section.nav-section ul{
    list-style-type: none;
}

/* css MAIN */

.section-position{
    width: 65%;
    margin: 0 auto;
    margin-top: 30px;
}

section.title{
    background-color: #b4d0e7;
    height: 500px;
}

section.title h1{
    text-align: center;
}

div.container{
    margin: 0 auto;
    width: 75%;
    justify-content: center;
}

div.container div.side-bar{
    background-color: red;
    height: 250px;
    width: 180px;
}

div.container div.img{
    background-color: yellow;
    height: 250px;
    width: 180px;
}

div.business-container{
    background-color: yellow;
    justify-content: center;
}

div.cards{
    width: calc(100% / 3);
    height: 700px;
    background-color: magenta;
}

div.enterprise{
    height: 150px;
    background-color: red;
    margin-top: 5px;
}

section.dropbox-partner{
    justify-content: center;
}

section.dropbox-partner div.img{
    height: 200px;
    width: 70%;
    background-color: cyan;
}

section.dropbox-partner article{
    height: 200px;
    width: 30%;
    background-color: lime;
}

div.cells-container{
    height: 500px;
    background-color: blue;
    justify-content: center;
    flex-wrap: wrap;
}

div.cells-container article.cell{
    height: 250px;
    width: calc(100% / 3);
    background-color: magenta;
    border: 1px solid black;
}